<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap-phpunit.php"
         colors="true"
         printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
</phpunit>